.error404-container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #0d6efd33, #6c757d22);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

