#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #ffffff;
background: radial-gradient(circle, rgba(255, 255, 255, 1) 17%, rgba(102, 102, 102, 1) 70%, rgba(0, 0, 0, 0.62) 100%);
}
#icon{
  width: 50px;

}

