#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: gray;
}


/* fondo del componente <DetalleCancion> */
.fondoDetalleCancion{
  min-height: 100vh; /* O la altura que necesites, por ejemplo 500px */
  width: 100%;
  background-image: url('../../public/pexels-frans-van-heerden-201846-1022692.jpg');
  background-repeat: no-repeat; /* Que no se repita */
  background-size: cover; /* Que ocupe toda la pantalla */
  background-position: center; /* Centrar la imagen */
}

.imgPortadaCancion{
  max-width: 100%;
  height: auto;
  background-size: contain; /* Que ocupe toda la pantalla */
}


