#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #ffffff;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 17%,
    rgba(102, 102, 102, 1) 70%,
    rgba(0, 0, 0, 0.62) 100%
  );
}
#icon {
  width: 50px;
}

/*---------------ABOUT US------------*/
.img-about {
  max-width: 350px;
  rotate: 5deg;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.div-about-encabezado {
  h1 {
    color: rgb(19, 153, 57);
    font-weight: bold;
  }
  p {
    color: #000000;
  }

  box-shadow: #ffffff 0px 0px 10px;
}
/*----------------FIN ABOUT US-----------*/

/*-----------enxabezado----------------*/
.section-about-team {
  img {
    height: 250px;
    object-fit: cover;
  }
  h3{
    color: seagreen;
  }
}
.about-card {
  overflow: hidden;
  transition: transform 0.3s ease;
}

.about-card:hover {
  transform: scale(1.03);
}
/*----------fin----enxabezado----------------*/
