/* FILTRO */

.guest-filter-toggle {
  background: rgba(255, 255, 255, 0.1) !important;
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
  backdrop-filter: blur(10px);
}

.guest-filter-menu {
  background: rgba(25, 25, 25, 0.9);
  backdrop-filter: blur(8px);
}

/*Sections*/
.guest-glass {
  padding: 0.4rem;
  border-radius: 1.2rem;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  margin-bottom: 2rem;
}

/*Buscador*/
.guest-search{
  max-width: 320px;
}